@import "https://hackersm9.github.io/Fonts/fonts.css";

$bg-color: #020102;
$default: #6913afe8;
$sub-default: #cb80ff;
$color: #E3BAFF;
$de-align: center;

html,body {
  margin: 0px;
  color: $color; 
  background-color: $bg-color;
}

*,.navbar,.container-fluid {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: $bg-color;
    color: $color;
}

.brand {
    color: #a76ad8e8;
    font-family: Agustina;
    text-shadow: 0 0 20px #fff,
     0 0 90px #6913afe8,
     0 0 70px #6913afe8,
     0 0 30px #6913afe8,;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $sub-default;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

h1 {
 font-family: Sofia;
 color: $sub-default;
 text-align: $de-align;
}

hr {
  width: 35%;
  height: 6.6px;
  margin: 0 auto;
  border-radius: 250px;
  background-color: $sub-default;
  border: 3px solid $sub-default;
  opacity: 0.5;
  transition: opacity 0.1s ease-in-out;
  animation: glowMinor 2s ease-in-out;
  -webkit-animation: glowMinor 2s ease-in-out infinite;
}

hr:hover {
  opacity: 1;
}

@keyframes glow {
  0%{box-shadow: 0 0 2px $sub-default;}
  50%{box-shadow: 0 0 8px $sub-default;}
  100%{box-shadow: 0 0 2px $sub-default;}
}

@-webkit-keyframes glow {
  0%{box-shadow: 0 0 2px $sub-default;}
  50%{box-shadow: 0 0 8px $sub-default;}
  100%{box-shadow: 0 0 2px $sub-default;}
}

@keyframes glowMinor {
  0%{box-shadow: 0 0 2px black;}
  50%{box-shadow: 0 0 8px black;}
  100%{box-shadow: 0 0 2px black;}
}

@-webkit-keyframes glowMinor {
  0%{box-shadow: 0 0 2px black;}
  50%{box-shadow: 0 0 8px black;}
  100%{box-shadow: 0 0 2px black;}
}

.self_img {
  text-align: $de-align;
  align-items: $de-align;
  align-content: $de-align;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 693px;
  height: 17em;
}

.bio {
  color: $color;
  text-align: $de-align;
}
