@import "/Fonts/fonts.css";

$bg-color: #020102;
$default: #6913afe8;
$sub-default: #cb80ff;
$color: #fff;

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html {
    background-color: $bg-color;
    color: $color;
}

.navbar-brand {
    color: $default;
}