@import "/Fonts/fonts.css";

$bg-color: #020102;
$default: #6913afe8;
$sub-default: #cb80ff;
$color: #fff;

*,.navbar,.container-fluid {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-color: $bg-color;
    color: $color;
}

.brand {
    color: #a76ad8e8;
    font-family: Agustina;
    text-shadow: 0 0 20px #fff,
     0 0 90px #6913afe8,
     0 0 70px #6913afe8,
     0 0 30px #6913afe8,;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $sub-default;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

h2 {
    color: $sub-default;
    text-align: center;
}

hr {
  width: 50%;
  height: 5px;
  background: none;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: $sub-default;
  border: 3px solid $sub-default;
}

.self_img {
  text-align: center;
  align-items: center;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 193px;
  height: 230px;
}

.bio {
  color: $color;
  text-align: center;
}
