@font-face {
  font-family: 'Agustina';
  font-style: normal;
  font-weight: 400;
  src: url(Agustina.woff) format('woff');
}
@font-face {
  font-family: 'Agustina';
  font-style: normal;
  font-weight: 400;
  src: url(Agustina.otf) format('otf');
}
 
